body,html {
    margin:0 auto;
    height: 100%;
    width: 100%;
    display: block;
    background-color: lightgray;
}

.container {
    /*border-style: dotted;*/
    top:1%;
    bottom:1%;
    left:1%;
    right:1%;
}

#name {
    position: absolute;
    background-color: #035e85;
    box-shadow: 10px 10px 5px #0194d5;
    top:1%;
    left:15%;
    width: 70%;
    height: 20%;
}

#name img {
    position: absolute;
    width:25%;
    left:74%;
    top:15%;
}

#name h1 {
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:10px;
    margin-top:55px;
}

#name h2 {
    color: aliceblue;
    font: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:10px;
}

#page {
    position: absolute;
    top: 22.4%;
    left:15%;
    width: 52%;
    border-color:gray;
    border-width: 1px;
    border-style: groove;
    background-color: whitesmoke;
}

.page_parent {
    height: 40%;
    padding: 20px;
}

.page_child {
    width: 50%;
    height: 20%;
    float:left;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
}

#text {
    margin-top:3%;
    margin-bottom: 10%;
}

.page_child img {
    width: 90%;
}

.page_info {
    margin-top: 25px;
    margin:3%;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
}

#side_menu {
    position: absolute;
    right: 15%;
    top: 22.4%;
    width: 17%;
    height: 50%;
    border-color:gray;
    border-width: 1px;
    border-style: groove;
    background-color: whitesmoke;

}

#side_menu a {
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    position: relative;
    display: flex;
    margin-top:10px;
    justify-content: center;
}